* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

footer {
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    display: black;
    height: 65px;
    width: 65px;
    margin: 0 auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p{
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid grey;
    box-shadow: 5px 10px #888888;
}